body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.orange-color{
    color: orange;
}
.flex{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}
p{
    color: dimgray;
    text-align: justify;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: 0px 140px;
    padding-left: 10%;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.experience-item{
    width: 40%;
    
    box-shadow: 10px 10px 40px 5px gray;
    padding: 20px;
    border-radius: 10px;
}

#full-stack-web-developer{
border-left: 7px solid tomato;
}

#baby-web-developer{
    border-left: 7px solid blue;
    margin-left: 5%;
}
footer{
    margin-bottom: 50px;
}
footer p{
    text-align: center;
}

